<nav id="site-navigation">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/recipes">Recipes</a></li>
    <li><a href="/collection">Your Collection</a></li>
    <li><a href="/recipes/add">Add Recipe</a></li>
    <li><form action="/recipes/search" method="get">
      <input id="recipe-search" name="q" type="search" placeholder="Recipe Search"/>
      <button type="submit">Search</button>
    </form></li>
  </ul>
</nav>